@import "config";

footer {
  background: $dark-yellow;
  padding: 2rem;
  @include flex();
  justify-content: space-around;

  .first {
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  .second {
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .social {
      li {
        text-transform: none;
        align-items: center;
        i {
          font-size: 1.3rem;
          margin-right: 5px;
        }
      }
    }
  }
  .third {
    h3 {
      font-size: 24px;
      span {
        font-size: 19px;
      }
    }
  }
}

@include mobile() {
  footer {
    flex-direction: column;
    div {
      margin-bottom: 20px;
    }
  }
}
