@import "config";

header {
  background: $yellow;
  box-shadow: 0px 16px 40px rgba($black, 15%);
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  nav {
    padding: 1rem 2rem;
    @include flex();
    justify-content: space-between;
    align-items: center;
    .logo {
      @include flex();
      h3 {
        font-size: 24px;
      }
      img {
        width: 28px;
        height: 28px;
        margin-left: 10px;
      }
    }
    .menu-bar {
      display: none;
    }
    .navitem {
      @include flex();
      flex-wrap: wrap;
      .nav-item {
        margin: 0 10px;
        color: #363535;
      }
    }
  }
}

@include mobile() {
  header {
    nav {
      .logo {
        h3 {
          font-size: 24px;
        }
        img {
          width: 28px;
          height: 28px;
          margin-left: 10px;
        }
      }
      flex-wrap: wrap;
      height: 60px;
      .menu-bar {
        display: inline-block;
      }
      .item {
        margin-top: 30px;
        width: 100%;
        display: none;
        .navitem {
          background-color: $light-yellow;
          @include flex();
          flex-direction: column;
          .nav-item {
            columns: white;
            margin: 10px 10px;
            color: #363535;
          }
        }
      }
      .show {
        display: block;
      }
    }
  }
}
